.x-collaborator-select-active-tick {
  left: 2px;
  right: auto;
}

.b-hover-tooltip-tooltip-wrapper {
  display: none !important;
}

.x-card-collaborators-info-text {
  display: none;
}

.x-collaborator-select-active-image,
.x-collaborator-select-inactive-image {
  width: 30px;
  height: 30px;
}

.x-card-collaborators-select:hover,
.x-collaborator-select-inactive {
  filter: none !important;
}

.x-card-collaborators-editor .x-card-collaborators-select {
  display: block;
}

input[type="text"].people-search {
  width: 100%;
  font-size: 14px;
  cursor: text;
  border-color: transparent;
  border-bottom-color: #ccc;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"].people-search:focus {
  border-color: transparent;
  border-bottom-color: #ccc;
}

.match-highlight {
  background-color: #ffff00;
}
